{% extends 'AppBundle::base.html.twig' %}

{% block body %}

<div class="page-header">
	<h1>Family: {{ family.name }}
	{% if family.isActive and projects | length > 0 %}
		<a href="{{ path('projectPublish', {family_id: family.id}) }}" class="btn btn-sm btn-success">Start your new project</a>
	{% endif %}
	</h1>
	Create by: {{ family.user.nickname }}
	{% if not family.isActive %}
		<span class="label label-warning">Family Stopped</span>
	{% endif %}
    {% if user.id == family.user.id %}
         <a href="{{ path('enableFamily', {id: family.id, enable: 1 - family.active }) }}" class="btn btn-xs btn-default">{% if family.active %}Click to stop{% else %}Click to active{% endif %}</a>
    {% endif %}
	{% if projects | length == 0 %}
		<div>No projects found</div>
		{% if family.isActive %}
		<h2><a href="{{ path('projectPublish', {family_id: family.id}) }}" class="btn btn-lg btn-success">Start your new project</a></h2>
		{% endif %}
	{% endif %}
</div>


{% for project in projects %}
  {% include 'AppBundle:Project:_oneProjectCard.html.twig' %}
{% endfor %}

{% endblock %}

{% block javascripts %}

<script>
	$('.projectCard').on('click', function(e) {
		window.location.href=$(this).data('url');
	});
</script>

{% endblock %}
