<div class="col-sm-4">
    <div class="panel panel-default {% if not project.active %}panel-inactive{% endif %}">
        <div class="panel-heading {% if project.active %}panel-active{% else %}panel-inactive{% endif %}">
            <h3 class="panel-title project_title_panel">
                <a href="{{ path('projectView', {id: project.id}) }}">{{ project.title|e }}</a></h3>
        </div>
        <div class="panel-body">
            {% if project.family.name is defined %}
            <span class="label label-primary family-label">
                <a href="{{ path('familySearch', {familyId: project.family.id, familyName: project.family.name}) }}">{{ project.family.name|default }}</a>
            </span>
            {% endif %}
            <div class="crop">
                <a href="{{ path('projectView', {id: project.id}) }}">
                    <div class="crop">
                    {% if project.imageName  %}
                        <img src="{{ asset(vich_uploader_asset(project, 'imageFile')) }}" alt="{{ project.title }}" />
                    {% endif %}
                    </div>
                </a>
            </div>
            <div class="text-center">
                {% if project.countUpdates > 0 or project.countMessages > 0 %}
                <div class="one-card-notif">
                    {% if project.countUpdates > 0 %}
                        <a href="{{ path('projectViewOption', {id: project.id, option: 'updates'}) }}"><span class="badge"><span class="glyphicon glyphicon-bullhorn"></span> {{ project.countUpdates|default(0) }}</span></a>
                    {% endif %}
                    {% if project.countMessages > 0 %}
                        <a href="{{ path('projectViewOption', {id: project.id, option: 'comments'}) }}"><span class="badge"><span class="glyphicon glyphicon-comment"></span> {{ project.countMessages|default(0) }}</span></a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="crew">
                <span class="text-light"> Crew :</span> <img src="{{ project.user.profilePicture }}" alt="{{ project.user.nickname | e }}" class="img-circle img-crew-master"  data-toggle="tooltip" data-placement="top" title="{{project.user.nickname}} (Owner)" />
            {% if project.participants|length > 0 %}
                {% for participant in project.participants %}
                    <img src="{{participant.user.profilePicture}}" alt="{{participant.user.nickname}}" data-toggle="tooltip" data-placement="top" title="{{participant.user.nickname}}" class="img-circle img-crew" />
                {% endfor %}
            {% endif %}
            </div>

            <div class="cropdescription">
                <a href="{{ path('projectView', {id: project.id}) }}">
                    {{ project.shortDescription|striptags|raw|nl2br }}
            <span class="paragraph-end"></span>
                </a>
            </div>

            <div class="panel-footer {% if not project.active %}panel-inactive{% endif %} panel-footer-credits-progression pull-right">

            {% if project.active %}
                <span class="{{ project.getDaysToGo < 10 ? "red text-bold" : "" }}">{{ project.getDaysToGo >= 0 ? project.getDaysToGo : 0 }}</span>
                <span class="text-light"> days to go</span>
            {% endif %}

            </div>
            <div class="clearfix"></div>
            <div class="btn-footer-onecard">
            {% if project.active %}
                {{
                    render(controller('AppBundle:Project:viewParticipateModal', {
                        id: project.id
                    }))
                }}

                <div class="opc-action-right" id="participate-{{ project.id }}">
                    {{
                        render(controller('AppBundle:Project:viewParticipate', {
                            id: project.id,
                            imInButton: true
                        }))
                    }}

                </div>
                <div class="opc-action-right" id="vote-{{ project.id }}">
                    {% if project.family.isActive|default or project.family.isActive is not defined %}
                        {{
                            render(controller('AppBundle:Project:viewVote', {
                                id: project.id
                            }))
                        }}
                    {% endif %}

                </div>
            {% else %}
                <div class="col-md-12 text-center btn-footer-onecard-inactive">
                <button type="button" class="btn btn-project-disabled" disabled="disabled">Project Inactive</button>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
