<div class="col-sm-4 projectCard" data-url="{{ path('projectView', {id: project.id}) }}">
  <div class="panel panel-default {% if project.active %}{% else %}panel-inactive{% endif %}">
    <div class="panel-heading {% if project.active %}panel-active{% else %}panel-inactive{% endif %}">
      <h3 class="panel-title project_title_panel">{{ project.title|e }}</h3>
    </div>
    <div class="panel-body">
      <div class="crop">
          <img src="{{ asset(vich_uploader_asset(project, 'imageFile')) }}" alt="{{ project.title }}"/>
      </div>
      <div class="project-image-container">
        <img src="{{ project.user.profilePicture }}" alt="{{ project.user.nickname | e }}" class="img-project">
      </div>
      <div class="cropdescription">
          {{ project.shortDescription|e }}
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ project.percentageOfProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.percentageOfProgress }}%">
          <span class="sr-only">{{ project.percentageOfProgress }}% Complete (success)</span>
        </div>
      </div>
      <div class="panel-footer {% if project.active %}{% else %}panel-inactive{% endif %}">
        <div class="left"
          <p>{{ project.nbCreditsDone }} <span class="text-light">credits</span> / {{ project.nbCreditsTotal }} <span class="text-light">total credits</span></p>
        </div>
        <div class="right">
          <p><span class="{% if (project.getDaysToGo < 10) and project.active %}red text-bold{% endif %}">{% if project.active %}{{ project.getDaysToGo }}{% else %}{{ -project.getDaysToGo }}{% endif %}</span><span class="text-light"> {% if project.active %}days to go{% else %}days ago...{% endif %}</span></p>
        </div>
      </div>
      <p>
       <div class="opc-action-left">
        	<a class="btn btn-default {% if active %}{% else %}panel-inactive{% endif %}" href="{{ path('projectView', {id: project.id}) }}" role="button">View details »</a>
        </div>
       <div class="opc-action-right">
          <a class="btn" href=""><span class="glyphicon glyphicon-heart btn-heart" aria-hidden="true"></span> Support (2)</a>
        </div>
      </p>
    </div>
  </div>
</div>
