<div class="col-sm-4">
    <div class="panel panel-default {% if not project.active %}panel-inactive{% endif %}">
        <div class="panel-heading {% if project.active %}panel-active{% else %}panel-inactive{% endif %}">
            <h3 class="panel-title project_title_panel">
                <a href="{{ path('projectView', {id: project.id}) }}">{{ project.title|e }}</a></h3>
        </div>
        <div class="panel-body">
            {% if project.family.name is defined %}
            <div class="label label-success family-label">
                <a href="{{ path('familySearch', {familyName: project.family.name}) }}">{{ project.family.name|default }}</a>
                {% if project.category.name is defined %}
                    - {{ project.category.name|default }}
                {% endif %}
            </div>
            {% endif %}
            <div class="crop">
            <a href="{{ path('projectView', {id: project.id}) }}">
                <div class="crop">
                    <img src="{{ asset(vich_uploader_asset(project, 'imageFile')) }}" alt="{{ project.title }}"/>
                </div>
            </a>
            </div>
            <div class="project-image-container">
                <img src="{{ project.user.profilePicture }}" alt="{{ project.user.nickname | e }}" class="img-project">
            </div>
            <div class="cropdescription">
                {{ project.shortDescription|e }}
            </div>
            {% if project.steps|length >= 1 %}
{#
            <div class="panel-steps">
                    {% set lastStepCompleted = "" %}
                    {% set nextStep = "" %}
                    {% for step in project.steps %}
                        {% if step.isCompleted %}
                            {% set lastStepCompleted = step.title %}
                        {% endif %}
                    {% endfor %}
                    <br/>
                    {% if lastStepCompleted != "" %}
                        "{{ lastStepCompleted }}"<span class="text-light">: step confirmed!</span>
                    {% endif %}
            </div>
#}
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ project.percentageOfProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.percentageOfProgress }}%">
                    <span class="sr-only">{{ project.percentageOfProgress }}% Complete (success)</span>
                </div>
            </div>
           {% else %}
            <div class="noprogress">
            </div>
           {% endif %}
            <div class="panel-footer {% if not project.active %}panel-inactive{% endif %} panel-footer-credits-progression pull-left">
                {{ project.nbCreditsDone }} <span class="text-light"></span> <span class="text-light">{% if project.nbCreditsTotal >0 %}/ {{ project.nbCreditsTotal }} {% endif %} Involvement day{% if project.nbCreditsDone > 1 %}s{% endif %} given</span>
            </div>
            <div class="panel-footer {% if not project.active %}panel-inactive{% endif %} panel-footer-credits-progression pull-right">
                <span class="{% if (project.getDaysToGo < 10) %}red text-bold{% endif %}">{% if project.getDaysToGo >= 0 %}{{ project.getDaysToGo }}{% else %}{{ 0 }}{% endif %}</span><span class="text-light"> {% if project.active %}days to go{% else %}days ago...{% endif %}</span>
            </div>
            <div class="clearfix"></div>
            <div class="row btn-footer-onecard">
            {% if project.active %}
                <div class="col-md-6 opc-action-right" id="participate-{{ project.id }}">
                    {{
                        render(controller('AppBundle:Project:viewParticipate', {
                            id: project.id
                        }))
                    }}

                </div>
                <div class="col-md-6 opc-action-right" id="vote-{{ project.id }}">
                    {{
                        render(controller('AppBundle:Project:viewVote', {
                            id: project.id
                        }))
                    }}
                </div>
            {% else %}
                <div class="col-md-12 text-center btn-footer-onecard-inactive ">
                Project Inactive
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
