{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <h1>Step 2 - Define your Steps</h1>

    <div class="row">
        <div class="col-md-8 project-container">
            <div class="project-container-text">
                <h2>For {{ project.title }}</h2>
                <a href="{{ path('projectView', {id: project.id }) }}">Back to project</a>
                <hr/>

                {% for step in steps %}
                    <p>
                        <strong>{{ step.title }}</strong>
                    </p>

                    <br />

                    {{ step.shortDescription }}

                    Price : <strong>{{ step.price }}</strong> Bitoniots

                    {% if app.user and app.user.id == project.user.id %}
                        <a href="{{ path('projectStepEdit', {id: step.id}) }}">Edit</a>
                    {% endif %}

                    <hr />
                {% endfor %}

                {% form_theme form 'AppBundle::form_theme.html.twig' %}

                {{ form_start(form) }}

                {{ form_errors(form) }}

                {{ form_label(form.title) }}
                {{ form_widget(form.title, {help_text:"toto toto tata"}) }}
                {{ form_errors(form.title) }}

                {{ form_label(form.shortDescription) }}
                {{ form_widget(form.shortDescription, {help_text:"toto toto tata"}) }}
                {{ form_errors(form.shortDescription) }}

                {{ form_label(form.endDate) }}
                {{ form_widget(form.endDate, {help_text:"toto totoaea rae tata"}) }}
                {{ form_errors(form.endDate) }}

                {{ form_rest(form) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
