
{% if isParticipant %}
    	<a
            href="#"
            id="project_save"
            data-endpoint="{{ path('projectContribute', {id: id}) }}"
            data-script-success=" window.location.reload() "
            name="step"
            class="btn btn-warning domajax click">
            <span class="glyphicon glyphicon-wrench btn-sunglasses-invert" aria-hidden="true"></span> I'm out!
        </a>

{% else %}

    <a class="btn btn-default" data-toggle="modal" data-target="#participate-modal-{{ id }}">
        <span id="participate-icon-{{ id }}" class="glyphicon glyphicon-user btn-onecard btn-glyphicon-{{ isParticipant ? 'inactive' : 'active' }}" aria-hidden="true"></span><span class="btn-onecard-text"> Contribute</span>
    </a>

    {% if message %}
        <p class="text-center alert-danger">{{ message }}</p>
    {% endif %}

{% endif %}
