{% extends 'AppBundle::base.html.twig' %}
{% import 'AppBundle::macros.html.twig' as macros %}

{% block title %}
{{ project.title|e }}
{% endblock %}

{% block body %}
<div class="page-header">
  <h1>{{ project.title|e }}</h1>
  <p>By {{ project.user.nickname }}
  </p>
{% if myproject %}
  <p>It's my project :
  <a class="btn btn-sm btn-default" href="{{ path('projectStepPublish', {id: project.id}) }}"><span class="glyphicon glyphicon-plus"></span> Add Steps</a>

  <a
      data-toggle="modal"
      data-target="#edit-project-{{ project.id }}"
      class="btn btn-sm btn-default"><span class="glyphicon glyphicon-edit"></span> Edit Project</a>

  <a class="btn btn-sm btn-default" href="{{ path('projectDelete', {id: project.id}) }}"><span class="glyphicon glyphicon-trash"></span> Delete Project</a>
  {% if myproject %}
     {% if project.getDaysToGo > 0 %}
       <a href="{{ path('enableProject', {id: project.id, enable: 1 - project.isActive }) }}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-{% if project.isActive %}pause{% else %}play{% endif %}"></span> {% if project.isActive %}Click to pause the project{% else %}Click to activate the project{% endif %}</a>
     {% endif %}
  {% endif %}
  </p>

    {% set body %}
        {{ render(controller('AppBundle:Project:edit', {id: project.id})) }}
    {% endset %}

    {{
        macros.modal(
            'edit-project-' ~ project.id,
            'Edit project "' ~ project.title ~ '"',
            body
        )
    }}

{% endif %}
</div>

<div class="row">
	<div class="col-md-8 project-container">
		<div>
    {% if project.videoUrl != "" %}
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{ project.videoUrl|e('html_attr') }}"></iframe>
      </div>
    {% elseif project.imageName %}
      <div class="view-crop">
        <img width="100%" src="{{ asset(vich_uploader_asset(project, 'imageFile')) }}" alt="{{ project.title|e('html_attr') }}"/>
      </div>
    {% endif %}
		</div>
		<div class="project-container-text">
			<div class="Project-shortdescription">
				<p>
				  {{ project.shortDescription|e|nl2br }}
				</p>
			</div>

      {% if project.videoUrl != ""  and asset(vich_uploader_asset(project, 'imageFile')) %}
          <p><img width="100%" src="{{ asset(vich_uploader_asset(project, 'imageFile')) }}" alt="{{ project.title|e('html_attr') }}"/></p>
      {% endif %}

			{% if project.fullDescription != '' %}
      <hr>
          <p>
            {{ project.fullDescription|e|nl2br }}
          </p>
			{% endif %}

			{% if project.team != '' %}
  			<h3>People needed:</h3>
  			<p>
  			  {{ project.team|e|nl2br }}
  			</p>
			{% endif %}

			{% if project.risksChallenges != '' %}
                <h3>Risks and Challenges:</h3>
                <p>
                  {{ project.risksChallenges|e|nl2br }}
                </p>
			{% endif %}

			{% if project.deliveryPromise != '' %}
                <h3>DeliveryPromise:</h3>
                <p>
                  {{ project.deliveryPromise|e|nl2br }}
                </p>
			{% endif %}

      <hr>
      <p>
      Creation Date: {{ project.creationDate.date|date('Y-m-d H:i:s') }}
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="summary bg-success">
			<h2>Summary</h2>

      {% if family.name is defined %}
      <div class="label label-primary family-label-view">
            <a href="{{ path('familySearch', {familyName: project.family.name}) }}">{{ family.name|default }}</a>
            {% if project.category.name is defined %}
              > {{ project.category.name|e }}
            {% endif %}
      </div>
      {% endif %}

      {% set daysToGo = project.getDaysToGo %}
      {% if daysToGo < 0 %}
          {% set daysToGo = 0 %}
      {% endif %}

      <p>
        <span class="summary-days-label">Days to go: <span class="summary-days {% if daysToGo < 10 %}red{% endif %}">{{ daysToGo }}</span></span>
      </p>

      {% if not project.isActive %}
        <p><span class="label label-warning">Project Stopped</span></p>
      {% endif %}

      {% if project.isActive %}
      <div class="participants-frame">
        <span class="">Crew:</span>
        <div>
          <img src="{{ project.user.profilePicture }}" class="img-crew-master-big img-circle"/>
          {% if participants|length > 0 %}
            {% for participant in participants %}
              <img src="{{participant.profilePicture}}" alt="{{participant.username}}" class="img-project-main-participant img-circle" />
              <span class="label label-success label-badge-participant label-as-badge">{{participant.credits}}</span>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      {% endif %}

    <div class="row btn-footer-onecard">
    {% if project.active %}

        <div class="col-md-6 opc-action-right" id="participate-{{ project.id }}">
            {{
                render(controller('AppBundle:Project:viewParticipate', {
                    id: project.id,
                    imInButton: true
                }))
            }}

        </div>
        {% if project.family.isActive|default or project.family.isActive is not defined %}
        <div class="col-md-6 opc-action-right" id="vote-{{ project.id }}">
            {{
                render(controller('AppBundle:Project:viewVote', {
                    id: project.id
                }))
            }}
        </div>
        {% endif %}
    {% endif %}
    </div>
  </div>


    {% if steps|length > 0 %}
		<div class="steps-sidebar">
		<h2>Achievments</h2>
		{% for step in steps %}

      <div class="one-step inprogress">
                <div class="step-title">
                    <h3>{{ step.title }}</h3>
                </div>
                <div class="clearfix"></div>
                <p class="step-sidebar-description">{{ step.shortDescription|e }}</p>
      </div>


    {# With Credits version
			<div class="one-step {% if step.isCompleted %}completed{% elseif step.isDisplayPledgeForm %}inprogress{% else %}tocomplete{% endif %}">
                <div class="step-title">
                    <h3>{{ step.title }}</h3>
                </div>
                <div class="step-price">
                    <span class="step-price-bg">{{ step.pricePaid }}</span>/ {{ step.price }} Involvement Days
                </div>
                <div class="clearfix"></div>
                <p class="step-sidebar-description">{{ step.shortDescription|e }}</p>

                {% if project.isActive %}
                <div class="step-credits">
                    {% if step.isCompleted %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Completed!
                    {% elseif step.isDisplayPledgeForm %}
                        <p>You want to participate, give your days :</p>
                        {% if error == 1 %}
                            <p><strong>Not enough Days available!</strong></p>
                        {% endif %}
                        <form class="steps-sidebar-form" action="{{ path('projectPledge', {id: project.id}) }}" method="post">
                            <input type="number" id="price" name="price" required="required" class="form-control input-price" min="0" max="{{ userCredits.credits }}">
                            <button type="submit" id="project_save" name="step" class="btn-default btn"><span class="glyphicon glyphicon-wrench btn-sunglasses-active" aria-hidden="true"></span> I'm in!</button>
                        </form>
                    {% else %}
                        Coming next...
                    {% endif %}
                </div>
                {% endif %}
			</div>
    #}
		{% endfor %}
		</div>
    {% endif %}
		{% if myproject %}
		<div class="sidebar-footer text-center">
			<a href="{{ path('projectStepPublish', {id: project.id}) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Add a new step</a>
		</div>
		{% endif %}
	</div>
</div>
{#}
{% if project.active %}

    {{
        render(controller('AppBundle:Project:viewParticipateModal', {
            id: project.id
        }))
    }}
{% endif %}
#}

{% endblock %}
