{% extends 'AppBundle::base.html.twig' %}
{% block title %}
{{ project.title|e }}
{% endblock %}

{% block body %}
<div class="page-header text-center">
  <h1>{{ project.title|e }}</h1>
  <p>By {{ project.user.nickname }}
  <img src="{{ project.user.profilePicture }}" class="img-project-main"/>
  </p>
{% if myproject %}
  <p>It's my project :
  <a class="" href="{{ path('projectStepPublish', {id: project.id}) }}">Add Steps</a>
  -
  <a class="" href="{{ path('projectEdit', {id: project.id}) }}">Edit Project</a>
  -
  <a class="" href="{{ path('projectDelete', {id: project.id}) }}">Delete Project</a>
  </p>
{% endif %}
</div>

<div class="row">
	<div class="col-md-8 project-container">
		<div>

    {% if project.videoUrl != "" %}
        <iframe width="100%" height="438"  src="{{ project.videoUrl|e('html_attr') }}" frameborder="0" allowfullscreen></iframe>
    {% elseif project.imageFile %}
  			<img width="100%" src="{{ asset(vich_uploader_asset(project, 'imageFile')) }}" alt="{{ project.title|e('html_attr') }}"/>
    {% endif %}

		</div>
		<div class="project-container-text">
			<div class="Project-shortdescription">
				<p>
				  {{ project.shortDescription|e|nl2br }}
				</p>
			</div>
			<hr>

      {% if project.videoUrl != "" %}
          <img width="100%" src="{{ asset(vich_uploader_asset(project, 'imageFile')) }}" alt="{{ project.title|e('html_attr') }}"/>
      {% endif %}

			{% if project.fullDescription != '' %}
                <p>
                  {{ project.fullDescription|e|nl2br }}
                </p>
			{% endif %}

			{% if project.team != '' %}
			<h3>People needed:</h3>
			<p>
			  {{ project.team|e|nl2br }}
			</p>
			{% endif %}

			{% if project.risksChallenges != '' %}
                <h3>Risks and Challenges:</h3>
                <p>
                  {{ project.risksChallenges|e|nl2br }}
                </p>
			{% endif %}

			{% if project.deliveryPromise != '' %}
                <h3>DeliveryPromise:</h3>
                <p>
                  {{ project.deliveryPromise|e|nl2br }}
                </p>
			{% endif %}

			<p>
      <hr>
      Creation Date: {{ project.creationDate.date|date('Y-m-d H:i:s') }}
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="steps-sidebar summary">
			<h2>Summary</h2>

            {% set daysToGo = project.getDaysToGo %}
            {% if daysToGo < 0 %}
                {% set daysToGo = 0 %}
            {% endif %}

            <p>
				<span class="summary_days_label">Days to go: <span class="summary_days {% if daysToGo < 10 %}red{% endif %}">{{ daysToGo }}</span></span>
			</p>

            {% if myproject %}
               <div class="text-center">
                 {% if project.getDaysToGo > 0 %}
                   <a href="{{ path('enableProject', {id: project.id, enable: 1 - project.isActive }) }}" class="btn btn-lg {% if project.isActive %}btn-danger">Stop{% else %}btn-success">Start{% endif %}</a>
                 {% endif %}
               </div>
            {% endif %}
		</div>

    <div>
        {{ project.family.name|default }}
        {% if project.category.name is defined %}
          &gt; {{ project.category.name|e }}
        {% endif %}
    </div>

    {% if steps|length > 1 %}
		<div class="steps-sidebar">
		<h2>Steps</h2>
		{% for step in steps %}
			<div class="one-step {% if step.isCompleted %}completed{% elseif step.isDisplayPledgeForm %}inprogress{% else %}tocomplete{% endif %}">
                <div class="step-title">
                    <h3>{{ step.title }}</h3>
                </div>
                <div class="step-price">
                    <span class="step-price-bg">{{ step.price }}</span> Days Needed
                </div>
                <div class="clearfix"></div>
                <p class="step-sidebar-description">{{ step.shortDescription|e }}</p>
                <p>
                <div class="step-credits">
                    {% if step.isCompleted %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Completed!
                    {% elseif step.isDisplayPledgeForm %}
                        {{ step.priceToFinish }} "Day{% if step.priceToFinish > 1 %}s{% endif %} Needed" remaining to achieve this step!
                        {% if error == 1 %}
                            <p><strong>Not enough Days available!</strong></p>
                        {% endif %}
                        <form action="{{ path('projectPledge', {id: project.id}) }}" method="post">
                            <input type="number" id="price" name="price" required="required" class="form-control input-price" min="0" max="{{ userCredits.credits }}">
                            <button type="submit" id="project_save" name="step" class="btn-success btn"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Pledge</button>
                        </form>
                    {% else %}
                        Coming next...
                    {% endif %}
                </div>
			</div>
		{% endfor %}
		</div>
    {% endif %}
		{% if myproject %}
		<div class="sidebar-footer text-center">
			<a href="{{ path('projectStepPublish', {id: project.id}) }}" class="btn btn-default btn-xs">Add a new step</a>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
