{% if isParticipant %}

    <div class="text-center">
        You are in!
        <br/>
        <a href="{{ path('projectView', {id: id}) }}">Open for details</a>
    </div>

{% else %}

    {{ form_start(form) }}

    <div class="input-group">
      {{
        form_widget(form.amount, {
            'attr': {
                'class': 'form-control',
            },
        })
      }}

      <a
          class="input-group-addon btn btn-default domajax click"
          data-endpoint="{{ path('projectParticipate', {id: id}) }}"
          data-lock='#participate-{{ id }}'
          data-input='#participate-{{ id }}'
          data-output='#participate-{{ id }}'
      >I'm in!</a>
    </div>

    {% if message %}
        <p class="text-center alert-danger">{{ message }}</p>
    {% endif %}

    {{ form_end(form) }}

{% endif %}