{% set body %}


    <form id="participate-modal-form-{{ id }}" action="{{ path('projectContribute', {id: id}) }}" method="post">
        <div class="text-center">

        <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('assets/images/img_contributor_1.gif') }}" alt="Contributor" />
        <p>Do you really want to contribute to this project and to be a part of this crew ?</p>

        <a
            href="#"
            id="project_save"
            data-endpoint="{{ path('projectContribute', {id: id}) }}"
            data-input="#participate-modal-form-{{ id }}"
            data-script-success=" window.location.reload() "
            name="step"
            class="btn-success btn btn-lg domajax click">
            <span class="glyphicon glyphicon-wrench btn-sunglasses-invert" aria-hidden="true"></span> I'm in!
        </a>

        </div>
    </form>
{% endset %}

{% import 'AppBundle::macros.html.twig' as macros %}

{{
    macros.modal(
        'participate-modal-' ~ id,
        'You want to contribute?',
        body
    )
}}
