<div class="{% if readonly == false %}domajax click{% else %}hide{% endif %}" data-alias="#score-{{ id }}">
    <a
        class="btn"
        href="#"
        id="score-{{ id }}"
        data-endpoint="{{ path('projectVote', {id: id}) }}"
        data-input-attr="score"
        data-output="#vote-{{ id }}"
        data-script-before="if ($('#vote-icon-{{ id }}').hasClass('btn-heart-active')) { $('#vote-icon-{{ id }}').removeClass('btn-heart-active').addClass('btn-heart-inactive'); } else { $('#vote-icon-{{ id }}').removeClass('btn-heart-inactive').addClass('btn-heart-active'); };"
    >
        <span id="vote-icon-{{ id }}" class="glyphicon glyphicon-heart btn-heart-{{ vote ? 'active' : 'inactive' }}" aria-hidden="true"></span>
    </a>
</div>

