
{% if isParticipant %}
    {% if imInButton %}
        <button
        	type="button" 
        	class="btn btn-warning" 
        	data-container="body" 
        	data-toggle="popover" 
        	data-placement="top" 
        	data-html="true" 
        	data-content='<p>You are a contributor, and it&rsquo;s very exciting. Right?</p><p><small>No, please 
			<a
	            href="#"
	            id="unvote_{{id}}"
	            data-endpoint="{{ path('projectContribute', {id: id}) }}"
	            data-script-success=" window.location.reload() "
	            name="step"
	            class="domajax click">
	            	remove me
	        </a>
        	...</small></p>''>
        		<span class="glyphicon glyphicon-user btn-sunglasses-invert"></span> You are in!
        </button>
    {% endif %}

{% else %}

    <a class="btn btn-default" data-toggle="modal" data-target="#participate-modal-{{ id }}">
        <span id="participate-icon-{{ id }}" class="glyphicon glyphicon-user btn-onecard btn-glyphicon-{{ isParticipant ? 'inactive' : 'active' }}" aria-hidden="true"></span><span class="btn-onecard-text"> Contribute</span>
    </a>

    {% if message %}
        <p class="text-center alert-danger">{{ message }}</p>
    {% endif %}

{% endif %}
