{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="page-header text-center">
  <h1>{{ project.title|e }}</h1>
  <p>By {{ project.user.nickname }}
  <img src="{{ project.user.profilePicture }}" class="img-project-main"/>
  </p>
{% if myproject %}
  <p>It's my project :
  <a class="" href="{{ path('projectStepPublish', {id: project.id}) }}">Add Steps</a>
  -
  <a class="" href="{{ path('projectEdit', {id: project.id}) }}">Edit Project</a>
  </p>
{% endif %}
</div>

<div class="row">
	<div class="col-md-8 project-container">
		<div>
			<img width="100%" src="{{ vich_uploader_asset(project, 'imageFile') }}" alt="{{ project.title|e('html_attr') }}"/>
		</div>
		<div class="project-container-text">
			<div class="Project-shortdescription">
				<p>
				  {{ project.shortDescription }}
				</p>
			</div>
			<hr>

			{% if project.videoUrl != '' %}
                <h3>Full Description:</h3>
                <p>
                  {{ project.fullDescription }}
                </p>
			{% endif %}

			{% if project.videoUrl != '' %}
                <h3>Video:</h3>
                <iframe width="560" height="315" src="{{ project.videoUrl|e('html_attr') }}" frameborder="0" allowfullscreen></iframe>
			{% endif %}

			{% if project.team != '' %}
			<h3>People needed:</h3>
			<p>
			  {{ project.team }}
			</p>
			{% endif %}

			{% if project.risksChallenges != '' %}
                <h3>Risks and Challenges:</h3>
                <p>
                  {{ project.risksChallenges|e }}
                </p>
			{% endif %}

			{% if project.deliveryPromise != '' %}
                <h3>DeliveryPromise:</h3>
                <p>
                  {{ project.deliveryPromise|e }}
                </p>
			{% endif %}

			<p>
    			Creation Date: {{ project.creationDate.date }}
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="steps-sidebar summary">
			<h2>Summary</h2>
			<p>
				<span class="summary_days_label">Days to go: <span class="summary_days {% if project.getDaysToGo < 10 %}red{% endif %}">{{ project.getDaysToGo }}</span></span>
			</p>

		</div>
		<div class="steps-sidebar">
		<h2>Steps</h2>
		{% for step in steps %}
			<div class="one-step {% if step.isCompleted %}completed{% elseif step.isDisplayPledgeForm %}inprogress{% else %}tocomplete{% endif %}">
                <div class="step-title">
                    <h3>{{ step.title }}</h3>
                </div>
                <div class="step-price">
                    <span class="step-price-bg">{{ step.price }}</span> Credits
                </div>
                <div class="clearfix"></div>
                <p class="step-sidebar-description">{{ step.shortDescription|e }}</p>
                <p>
                <div class="step-credits">
                    {% if step.isCompleted %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Completed!
                    {% elseif step.isDisplayPledgeForm %}
                        {{ step.priceToFinish }} credit(s) remaining to achieve this step!
                        {% if error == 1 %}
                            <p><strong>Not enough credits available!</strong></p>
                        {% endif %}
                        <form action="{{ path('projectPledge', {id: project.id}) }}/pledge" method="post">
                            <input type="number" id="price" name="price" required="required" class="form-control input-price" min="0" max="{{ userCredits.credits }}">
                            <button type="submit" id="project_save" name="step" class="btn-success btn"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Pledge</button>
                        </form>
                    {% else %}
                        Coming next...
                    {% endif %}
                </div>
			</div>
		{% endfor %}
		</div>
		{% if myproject %}
		<div class="sidebar-footer text-center">
			<a href="{{ path('projectStepPublish', {id: project_id}) }}" class="btn btn-default btn-xs">Add a new step</a>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
