{% set body %}

    <form id="participate-modal-form-{{ id }}" action="{{ path('projectPledge', {id: id}) }}" method="post">
        <div class="">

        <input type="number" id="price" name="price" required="required" class="form-control input-price-modal" min="0" max="{{ userCredits.credits }}" value="1">
        <a
            href="#"
            id="project_save"
            data-endpoint="{{ path('projectParticipate', {id: id}) }}"
            data-input="#participate-modal-form-{{ id }}"
            data-output="#participate-{{ id }}"
            data-lock="#participate-modal-form-{{ id }}"
            data-script-success=" $('#participate-modal-{{ id }}').modal('hide'); "
            name="step"
            class="btn-success btn domajax click">
            <span class="glyphicon glyphicon-wrench btn-sunglasses-invert" aria-hidden="true"></span> I'm in!
        </a>

        </div>
    </form>
{% endset %}

{% import 'AppBundle::macros.html.twig' as macros %}

{{
    macros.modal(
        'participate-modal-' ~ id,
        'How many days would you like to spend?',
        body
    )
}}
