<div
    id="score-{{ id }}"
    data-endpoint="{{ path('projectOneClickPledge', {id: id}) }}"
    data-input-attr="score"
    data-score="0"
    style="padding-top: 5px;"
>
    <div id="raty-{{ id }}"></div>
</div>

<script type="text/javascript">

    $('#raty-{{ id }}').raty({
        click: function(score, e) {
            var elem = $('#score-{{ id }}');
            elem.data('score', score);
            elem.domAjax();
        },
        number: 5,
        path: '{{ asset('assets/js/raty/images/') }}',
        readonly: {{ readonly }}
//        score: '', // initial rating
    });

</script>
