{% extends 'AppBundle::base.html.twig' %}
{% import 'AppBundle::macros.html.twig' as macros %}

{% block header_card %}
  <meta property="og:image" content="http://2.media.collegehumor.cvcdn.com/78/60/a86ca604ac6c6c80aea5ed45771544b0.jpg">
  <meta property="og:title" content="7 New Versions of Beer Pong">
  <meta property="og:description" content="Because we want to make drinking more complicated.">
  <meta property="og:type" content="article">
  <meta property="og:url" content="http://www.collegehumor.com/article/6878481/7-new-versions-of-beer-pong">
{% endblock %}

{% block title %}
{{ project.title|e }}
{% endblock %}

{% block body %}
<div class="page-header">
  <a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}">{{ family.name|default }}:</a>
  <h1>{{ project.title|e }}</h1>
  <p>By {{ project.user.nickname }}
  </p>
  {% if myproject %}
  <p>It's my project :
  <a class="btn btn-sm btn-default" href="{{ path('projectStepPublish', {id: project.id}) }}"><span class="glyphicon glyphicon-plus"></span> Add an Achievement</a>

  <a
      data-toggle="modal"
      data-target="#edit-project-{{ project.id }}"
      class="btn btn-sm btn-default"><span class="glyphicon glyphicon-edit"></span> Edit</a>

  <a
      href="{{ path('projectDelete', {id: project.id}) }}"
      class="btn btn-sm btn-danger"
      onclick="return confirm('Do you really want to DELETE the {{ project.title|e('html_attr') }} project?');">
      <span class="glyphicon glyphicon-trash"></span>
  </a>
   {% if project.getDaysToGo > 0 %}
     <a href="{{ path('enableProject', {id: project.id, enable: 1 - project.isActive }) }}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-{% if project.isActive %}pause{% else %}play{% endif %}"></span> {% if project.isActive %}Pause{% else %}Resume{% endif %}</a>
   {% endif %}
  </p>

  {% set body %}
      {{ render(controller('AppBundle:Project:edit', {id: project.id})) }}
  {% endset %}
  {{
      macros.modal(
          'edit-project-' ~ project.id,
          'Edit project "' ~ project.title ~ '"',
          body,
          '',
          'modal-lg'
      )
  }}

  {% endif %}
</div>

<div class="row">
	<div class="col-md-8 project-container">
		<div>
    {% if project.imageName %}
      <div class="view-crop">
        <img width="100%" src="{{ asset(vich_uploader_asset(project, 'imageFile')) }}" alt="{{ project.title|e('html_attr') }}"/>
      </div>
    {% endif %}
		</div>

    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" {% if activeTab == "description" %}class="active"{% endif %}><a href="#description" aria-controls="description" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-lamp"></span> Description</a></li>
        <li role="presentation" {% if activeTab == "updates" %}class="active"{% endif %}><a href="#updates" aria-controls="updates" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-bullhorn"></span> Updates{% if updates|length > 0 %}<span class="tab-badge">{{ updates|length }}</span>{% endif %}</a></li>
        <li role="presentation" {% if activeTab == "comments" %}class="active"{% endif %}><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-comment"></span> Comments{% if messages|length > 0 %}<span class="tab-badge">{{ messages|length }}</span>{% endif %}</a></li>
      </ul>

        <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane {% if activeTab == "description" %}active{% endif %}" id="description">

      		<div class="project-container-text">
      			<div class="Project-shortdescription">
      				<p>
      				  {{ project.shortDescription|raw }}
      				</p>
      			</div>

            {% if project.videoUrl != ""  and asset(vich_uploader_asset(project, 'imageFile')) %}
              <p>      <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="{{ project.videoUrl|e('html_attr') }}"></iframe>
                </div>
              </p>
            {% endif %}

      			{% if project.fullDescription != '' %}
            <hr>
                <p>
                  {{ project.fullDescription|raw }}
                </p>
      			{% endif %}

      			{% if project.team != '' %}
        			<h3>People needed:</h3>
        			<p>
        			  {{ project.team|e|nl2br }}
        			</p>
      			{% endif %}

      			{% if project.risksChallenges != '' %}
                      <h3>Risks and Challenges:</h3>
                      <p>
                        {{ project.risksChallenges|e|nl2br }}
                      </p>
      			{% endif %}

      			{% if project.deliveryPromise != '' %}
                      <h3>DeliveryPromise:</h3>
                      <p>
                        {{ project.deliveryPromise|e|nl2br }}
                      </p>
      			{% endif %}

            <hr>
            <p>
            Creation Date: {{ project.creationDate.date|date('Y-m-d H:i:s') }}
      			</p>
      		</div>
        </div>

        <!-- Updates -->
        <div role="tabpanel" class="tab-pane {% if activeTab == "updates" %}active{% endif %}" id="updates">
            <div class="project-container-text">
              {% if myproject %}
                <div class="project-update-form">
                {% form_theme form 'AppBundle::form_theme.html.twig' %}
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
                </div>
              {% endif %}
                <div class="project-update-list">
                {% if updates|length > 0%}
                  {% for update in updates %}
                    <div class="project-update">
                      <div class="update-date-bubble"></div>
                      <div class="update-date">
                        {{ update.creationDate.date|date('M d, Y') }}
                      </div>
                      <div class="update-description">
                        {{ update.shortDescription|e|nl2br }}
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  No update today.
                {% endif %}
                </div>
            </div>
        </div>

        <!-- Updates -->
        <div role="tabpanel" class="tab-pane {% if activeTab == "comments" %}active{% endif %}" id="comments">
            <div class="project-comments">
                <div class="project-comment-list">
                {% if messages|length > 0%}
                  {% for message in messages %}
                    <div class="project-comment">
                      <div class="project-comment-user">
                        <img src="{{ message.user.profilePicture }}" alt="{{ message.user.nickname }}" class="img-project-main-participant img-circle" data-toggle="tooltip" data-placement="top" title="{{ message.user.nickname }}" />
                        {% if project.user.id == message.user.id %}
                          <span class="label comment-label-owner">Owner</span>
                        {% elseif message.contributor %}
                          <span class="label label-info comment-label">Crew</span>
                        {% endif %}

                      </div>
                      <div class="arrow-left"></div>
                      <div class="comment-message">
                        {{ message.message|e|nl2br }}
                        <div class="comment-date">
                          {{ message.creationDate.date|date('M d, Y') }}
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  {% endfor %}
                {% else %}
                  No comment today.
                {% endif %}
                </div>
                <div class="project-comment-form">
                  {% form_theme form_message 'AppBundle::form_theme.html.twig' %}
                  {{ form_start(form_message) }}
                  {{ form_errors(form_message) }}
                  {{ form_rest(form_message) }}
                  {{ form_end(form_message) }}
                </div>

            </div>
        </div>

      </div>
    </div>

	</div>
	<div class="col-md-4">
		<div class="summary">
			<h2>Summary</h2>

      {% if family.name is defined %}
      <div class="label label-primary family-label-view">
            <a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}">{{ family.name|default }}</a>
            {% if project.category.name is defined %}
              > {{ project.category.name|e }}
            {% endif %}
      </div>
      {% endif %}

      {% set daysToGo = project.getDaysToGo %}
      {% if daysToGo < 0 %}
          {% set daysToGo = 0 %}
      {% endif %}

      <p>
        <span class="summary-days-label">Days to go: <span class="summary-days {% if daysToGo < 10 %}red{% endif %}">{{ daysToGo }}</span></span>
      </p>

      {% if not project.isActive %}
        <p><span class="label label-warning">Project Stopped</span></p>
      {% endif %}

      <div class="participants-frame">
        <span class="">Crew:</span>
        <div>
          <span class="label comment-label-owner-summary">Owner</span>
          <img src="{{ project.user.profilePicture }}" class="img-crew-master-big img-circle" data-toggle="tooltip" data-placement="top" title="{{project.user.nickname}}"/>
          {% if participants|length > 0 %}
            {% for participant in participants %}
              <img src="{{participant.user.profilePicture}}" alt="{{participant.user.nickname}}" class="img-project-main-participant img-circle" data-toggle="tooltip" data-placement="top" title="{{participant.user.nickname}}" />
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="row btn-footer-onecard">
      {% if project.isActive %}

        {{
            render(controller('AppBundle:Project:viewParticipateModal', {
                id: project.id
            }))
        }}

        <div class="col-md-6 opc-action-right" id="participate-{{ project.id }}">
            {{
                render(controller('AppBundle:Project:viewParticipate', {
                    id: project.id,
                    imInButton: true
                }))
            }}

        </div>
        {% if project.family.isActive|default or project.family.isActive is not defined %}
        {{
            render(controller('AppBundle:Project:viewParticipateModal', {
                id: project.id
            }))
        }}

        <div class="col-md-6 opc-action-right" id="vote-{{ project.id }}">
            {{
                render(controller('AppBundle:Project:viewVote', {
                    id: project.id
                }))
            }}
        </div>
        {% endif %}
      {% endif %}
      </div>
    </div> <!-- Summary -->


    {% if steps|length > 0 %}
		<div class="steps-sidebar">
  		<h2>Achievements</h2>

      {% if project.countStepCompleted %}
        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Completed!
        {% for step in steps %}
          {% if step.isCompleted %}
            {{ include('AppBundle:Project:_oneStepBeyond.html.twig') }}
          {% endif %}
        {% endfor %}
      {% endif %}
      
      {% if project.countStepInProgress %}
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> In Progress...
        {% for step in steps %}
          {% if step.isInProgress %}
            {{ include('AppBundle:Project:_oneStepBeyond.html.twig') }}
          {% endif %}
        {% endfor %}
      {% endif %}
      
      {% if project.countStepToComplete %}
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Coming next...
        {% for step in steps %}
          {% if not step.isCompleted and not step.isInProgress %}
            {{ include('AppBundle:Project:_oneStepBeyond.html.twig') }}
          {% endif %}
        {% endfor %}
      {% endif %}
  
    </div>
    {% endif %}
    {% if myproject %}
    <div class="sidebar-footer text-center">
      <a href="{{ path('projectStepPublish', {id: project.id}) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Add an Achievement</a>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
