<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>BlaBlaFoundry {% block title %}{% endblock %}</title>
        <!-- Latest compiled and minified CSS -->
        <link href='https://fonts.googleapis.com/css?family=Miss+Fajardose|Quicksand' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset('assets/css/main.css') }}" />
        {% block stylesheets %}{% endblock %}
        {% block head_only_web %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            <script src="{{ app.request.getSchemeAndHttpHost() ~ asset('assets/js/jquery.domajax.js') }}"></script>
            <script src="{{ app.request.getSchemeAndHttpHost() ~ asset('assets/js/foundry.js') }}"></script>
        {% endblock %}
    </head>
    <body role="document">
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                    <span class="glyphicon glyphicon-lamp" aria-hidden="true"></span> BlaBlaFoundry</a>
                </div>
                <div class="navbar-collapse collapse">
                    {% block menu %}
                        {% if is_granted('ROLE_USER') %}
                        <ul class="nav navbar-nav">
                            <li class="{{ menu_hp | default('')}}"><a href="{{ path('homepage') }}">Home</a></li>
                        </ul>
                        {% endif %}
                    {% endblock %}
                    <ul class="nav navbar-nav navbar-right">
                        {% block search %}
                            {% if is_granted('ROLE_USER') %}
                            <li>
                                <form class="navbar-form navbar-left" role="search" method="GET" action="{{ path('search') }}">
                                    <div class="form-group">
                                        <input type="text" name="s" class="form-control" placeholder="Search">
                                    </div>
                                    <button type="submit" class="btn btn-default">Search</button>
                                </form>
                            </li>
                            {% endif %}
                        {% endblock %}
                        {% block user %}
                            <li class="dropdown">
                                {% if app.user %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Me <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <p class="navbar-text">{{ app.user.nickname }}</p>
                                    <li role="separator" class="divider"></li>
                                    <li class="{{ menu_myprofile | default('')}}"><a href="{{ path('userIndex') }}">My Profile</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="{{ menu_myprojects | default('')}}"><a href="{{ path('projectList') }}">My projects</a></li>
                                    <li><a href="{% if family.id|default %}{{ path('projectPublish', {family_id: family.id}) }}{% else %}{{ path('projectPublish', {family_id: 0}) }}{% endif %}" >Start a new project</a></li>
                                    <li><a href="{{ path('familyPublish') }}">Create a new Space</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('logout') }}">Logout</a></li>
                                </ul>
                                {% else %}
                                    <a href="{{ hwi_oauth_login_url('google') }}">Sign-in</a>
                                {% endif %}
                            </li>
                            {% if app.user %}
                                <li><a href="{{ path('userIndex') }}" class="img-link"><img src="{{ app.user.profilePicture }}" alt="{{ app.user.nickname }}" class="img-navbar img-circle"/></a></li>
                                {% block available_credits %}
                                    {# <li><a href="{{ path('userIndex') }}">{{ render(controller('AppBundle:User:myCredits')) }}</a></li> #}
                                {% endblock %}
                            {% endif %}

                        {% endblock %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        {% block jumbotron %}{% endblock %}

        {% block flash %}{{ include('AppBundle::flash.html.twig', {'close': true}) }}{% endblock %}
        <div class="container theme-showcase" role="main">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 text-center">
                        <p><a href="https://github.com/chomb94/foundry/"><img src="{{ app.request.getSchemeAndHttpHost() ~ asset('assets/images/github.png') }}" width="32px" alt="GitHub" /> GitHub BlaBlaFoundry</a></p>
                        <p>A huge thank to Pierre-Yves, Alain and NicoT for their contribution, involvement, dynamism and their valuable assistance!

                    </div>
                    <div class="col-lg-2 footer-sillywalk">
                        <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('assets/images/silly-walk.gif') }}" alt="None shall pass" width="100px" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 small text-center">
                </div>
            </div>
        </footer>
    </body>
</html>
