<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		<!-- Optional theme -->
		<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"-->
		
		<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body role="document">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span> BlaBlaFoundry</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="{{ menu_hp | default('')}}"><a href="/">Home</a></li>
              <li class="{{ menu_start | default('')}}"><a href="/user/project/publish">Start a project</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cool Features <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/user/project/publish">Start your project</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Other</li>
                  <li><a href="/admin">Admin</a></li>
                  <li><a href="/login">Google Connect</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Me <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% if user %}
                      <p class="navbar-text">{{ user.nickname }}</p>
                      <li role="separator" class="divider"></li>
                    {% endif %}
                    <li class="{{ menu_myprofile | default('')}}"><a href="/user/profile">My Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="{{ menu_myprojects | default('')}}"><a href="/user/project/list">My projects</a></li>
                    <li class="{{ menu_start | default('')}}"><a href="/user/project/publish">Start a project</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
              </li>
                  </ul>
              </li>
            {% if user %}
              <li><img src="{{ user.profilePicture }}" alt="{{ user.nickname }}" class="img-navbar"/></li>
            {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

      {% block jumbotron %}{% endblock %}

      <div class="container theme-showcase" role="main">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
      </div>

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-2">
              <img src="{{ asset('assets/images/noneshallpass.png') }}" alt="None shall pass" width="150px" />
            </div>
            <div class="col-lg-8">
               None shall pass ! It is the end of the page.
            </div>
            <div class="col-lg-2 footer-sillywalk">
              <img src="{{ asset('assets/images/silly-walk.gif') }}" alt="None shall pass" width="100px" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 small text-center">
            <div class="jumbotron-footer"><a href="https://www.flickr.com/photos/bong18studio/">Lego Photos credits: Jerome Vaillant</a></div>
          </div>
        </div>
      </footer>
       <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	   <!-- Latest compiled and minified JavaScript -->
	   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
