{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron">
  <h1>He, a first test!</h1>
  <p>test : {{number}}</p>
  <p>encryptation : <a href="https://www.dailycred.com/article/bcrypt-calculator">Here</a></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form(form) }}

<h1>Projects</h1>

{% for project in projects %}
<div class="col-sm-4">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">{{ project.title|e }}</h3>
    </div>
    <div class="panel-body">
      {{ project.shortDescription|e }}
    </div>
  </div>
</div>
{% endfor %}

{#
<h2>Project</h2>
<p>id : {{project.id}}</p>
<p>Title : {{project.title}}</p>
<p>{{project.title}}</p>
<p>Description: {{project.shortDescription}}</p>
<p>Published: {{project.published}}</p>
<p>Date: {{project.creationDate|date('d/m/Y H:i:s')}}</p>
#}

{% endblock %}
