{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col-md-8">
		<div class="page-header">
		  <h1>{{ project.title|e }}</h1>
		  <a href="/">&lt;-Back</a>
		</div>
		<h3>Short Decription:</h3>
		My project ? {% if myproject %}Yes

		<p><a href="/user/project/{{ project_id }}/steps/publish">Add Steps</a></p>

		{% else %}No{% endif %}
		<p>
		  {{ project.shortDescription|e }}
		</p>
		<hr>
		<h3>Full Description:</h3>
		<p>
		  {{ project.fullDescription|e }}
		</p>

		{% if project.videoUrl != '' %}
		<h3>Video:</h3>
		<iframe width="560" height="315" src="{{ project.videoUrl|e }}" frameborder="0" allowfullscreen></iframe>

		{% endif %}

		<h3>People needed:</h3>
		<p>
		  {{ project.team|e }}
		</p>

		<h3>Risks and Challenges:</h3>
		<p>
		  {{ project.risksChallenges|e }}
		</p>

		<h3>DeliveryPromise:</h3>
		<p>
		  {{ project.deliveryPromise|e }}
		</p>

		<p>
		Creation Date:????????
		</p>
	</div>
	<div class="col-md-4">
		<div class="steps-sidebar">
		<h2>Steps</h2>
		{% for step in steps %}
		<hr />
		<strong>{{ step.title }}</strong>
		<p>{{ step.shortDescription|e }}</p>
		<a href="#" class="btn btn-default">Pledge</a>
		{% endfor %}
		</div>
		{% if myproject %}
		<p><a href="/user/project/{{ project_id }}/steps/publish">Add Steps</a></p>
		{% endif %}

	</div>
</div>
{% endblock %}