
{% extends 'AppBundle:Email:_base.html.twig' %}

{% block email_title %}
<p>Hello, {{ user.nickname }}!</p>
{% endblock %}

{% block email_contents %}
<p>You have a new Contributor for your project "{{ project.title }}" :</p>
<p><strong>{{ contributor.nickname }}</strong></p>
{% endblock %}

{% block email_btn_link %}
{{ app.request.getSchemeAndHttpHost() }}{{ path('projectView', {id: project.id}) }}
{% endblock %}

{% block email_btn_label %}
Check Your Project
{% endblock %}
