
{% extends 'AppBundle:Email:_base.html.twig' %}

{% block email_title %}
<p>Hello, {{ user.nickname }}!</p>
{% endblock %}

{% block email_contents %}

<p>You have a New Project inf your Family "{{family.name}}": </p>
<h1><a href="{{ app.request.getSchemeAndHttpHost() }}{{ path('projectView', {id: project.id}) }}">{{project.title}}</a></h1>
<p>by: {{project.user.nickname}}

<p><a href="{{ app.request.getSchemeAndHttpHost() }}{{ path('projectView', {id: project.id}) }}" class="btn-success btn">Check this Project</a></p>

{% endblock %}
