
{% extends 'AppBundle:Email:_base.html.twig' %}

{% block email_title %}
<p>Hello, {{ user.nickname }}!</p>
{% endblock %}

{% block email_contents %}
<p>You have a New Project in your Family "{{family.name}}": </p>
<h1>{{project.title}}</h1>
<p>by: {{project.user.nickname}}
{% endblock %}

{% block email_btn_link %}
{{ app.request.getSchemeAndHttpHost() }}{{ path('projectView', {id: project.id}) }}
{% endblock %}

{% block email_btn_label %}
Check this Project
{% endblock %}
