
{% extends 'AppBundle:Email:_base.html.twig' %}

{% block email_title %}
<p>Hello, {{ user.nickname }}!</p>
{% endblock %}

{% block email_contents %}
<p>Your project "{{ project.title }}" has a new update:</p>
<p><i><span style="color:#999">"{{ update|nl2br }}"<br/>
--{{ project.user.nickname }}</span></i></p>
{% endblock %}

{% block email_btn_link %}
{{ app.request.getSchemeAndHttpHost() }}{{ path('projectViewOption', {id: project.id, option: 'updates'}) }}
{% endblock %}

{% block email_btn_label %}
Click to check all updates!
{% endblock %}
