{% extends 'AppBundle::base.html.twig' %}

{% block jumbotron %}
    <!-- div class="jumbotron">
        <p>Welcome {{ user.nickname | default("to you") }}</p>
        <a class="btn btn-lg btn-success" href="{{ path('projectPublish') }}">Start your project</a>
    </div -->

{% endblock %}

{% block body %}


    <div class="page-header">
        <h1>BlaBlaFoundry Families</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tbody>
                {% for family in families %}
                    <tr>
                        <td><a href="{{ path('familySearch', {familyName: family.name}) }}">{{ family.name }}</a></td>
                        <td><a href="{{ path('familySearch', {familyName: family.name}) }}">{{ family.nbProjects }} Projects</a></td>
                        <td>
                            <span class="label label-warning">Project Stopped</span>
                            <a href="#" class="btn btn-xs btn-default">Click to start</a> (TODO if owner)
                        </td>
                    </tr> 
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="">
        <a href="#" class="btn btn-success">Start a new family [TODO]</a>
    </div>

    <span class="clearfix"></span>
    <hr />

    {% if projects|length %}
    <div class="page-header">
        <h1>Hot Projects</h1>
    </div>
        {% for project in projects %}
            {% include 'AppBundle:Project:_oneProjectCard.html.twig' %}
        {% endfor %}

        <span class="clearfix"></span>
        <hr />
    {% endif %}


    {% if old_projects|length %}

        <h2>Oldest Projects</h2>

        {% for project in old_projects %}
            {% include 'AppBundle:Project:_oneProjectCard.html.twig' %}
        {% endfor %}

    {% endif %}

{% endblock %}

{% block javascripts %}

    <script>
        $('.projectCard').on('click', function (e) {
            document.location = $(this).data('url');
        });
    </script>

{% endblock %}
