
{% import 'AppBundle::macros.html.twig' as macros %}

<h1>Active Spaces</h1>

<div class="jumbotron">
    <table class="table table-hover">
        <tbody>
        {% for family in families %}
            <tr>
                <td><a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}">{{ family.name }}</a></td>
                <td class="hidden-xs"><a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}">{{ family.description|striptags|length > 50 ? family.description|striptags|slice(0, 50) ~ '...' : family.description|striptags }}</a></td>
                <td class="hidden-xs"><a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}">{{ family.countProjects }} projects</a></td>
                <td class="text-left">

                    <!-- REMOVE BECAUSE CONFLICT WITH CKEDITOR (need ofrm number for the loop because same project_shortdescription field ID
                        a
                        data-toggle="modal"
                        data-target="#new-project-{{ family.id }}"
                        class="btn btn-success {% if not family.active %}disabled{% endif %}">Start a new project</a -->
                    <a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}" class="btn btn-primary">Projects list</a>

                    {% if user.id == family.user.id %}
                        <a href="{{ path('enableFamily', {id: family.id, enable: 1 - family.active }) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-pause"></span>  Disable
                        </a>

                        {% if family.maxVotes %}
                        <a
                            href="{{ path('familyVotes', {id: family.id}) }}"
                            class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span>
                            Votes
                        </a>
                        {% endif %}

                        <button class="btn btn-default" data-toggle="modal" data-target="#edit-family-{{ family.id }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% if inactive_families|length %}
    <div  class="hidden-xs">
    <h3>Inactive Spaces</h3>

    <table class="table table-hover">
        <tbody>
        {% for family in inactive_families %}
            <tr>
                 <td><a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}">{{ family.name }}</a></td>
                 <td><a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}">{{ family.description|length > 50 ? family.description|slice(0, 50) ~ '...' : family.description  }}</a></td>
                 <td><a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}">{{ family.countProjects }} projects</a></td>
                 <td class="text-left">
                    {% if user.id == family.user.id %}

                        <a href="{{ path('enableFamily', {id: family.id, enable: 1 - family.active }) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-play"></span> Activate
                        </a>

                        {% if family.maxVotes %}
                        <a
                            href="{{ path('familyVotes', {id: family.id}) }}"
                            class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span>
                            Votes ({% if family.publishVotes %}Public{% else %}Private{% endif %})
                        </a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endif %}

<button class="btn btn-default" data-toggle="modal" data-target="#new-family">
    <span class="glyphicon glyphicon-plus"></span> Create a new Space
</button>

</div>


{% set body %}
    {{ include('AppBundle:Family:familyForm.html.twig', {form: form}) }}
{% endset %}

{{
    macros.modal(
        'new-family',
        'Create a new Space',
        body
    )
}}



{% for family in families %}
    {% if user.id == family.user.id %}

        {% set body %}
            {{ include('AppBundle:Family:familyForm.html.twig', {form: forms[family.id], id: family.id}) }}
        {% endset %}

        {{
            macros.modal(
                'edit-family-' ~ family.id,
                'Edit Space ' ~ family.name,
                body
            )
        }}
    {% endif %}

    {% set body %}
        {{ render(controller('AppBundle:Project:publish', {family_id: family.id})) }}
    {% endset %}

    {{
        macros.modal(
            'new-project-' ~ family.id,
            'Your "' ~ family.name ~ '" project',
            body
        )
    }}

{% endfor %}
