
{% import 'AppBundle::macros.html.twig' as macros %}

<h1>Active Spaces</h1>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tbody>
            <thead>
                <tr>
                    <td>Space</td>
                    <td>Description</td>
                    <td>Projects in the Space</td>
                    <td> </td>
                    <td> </td>
                </tr>
            </thead>
            <tbody>
            {% for family in families %}
                <tr>
                    <td><a href="{{ path('familySearch', {familyName: family.name}) }}">{{ family.name }}</a></td>
                    <td><a href="{{ path('familySearch', {familyName: family.name}) }}">{{ family.description|length > 80 ? family.description|slice(0, 80) ~ '...' : family.description  }}</a></td>
                    <td><a href="{{ path('familySearch', {familyName: family.name}) }}">{{ family.nbProjects }} Projects</a></td>
                    <td>
                        <a href="{{ path('projectPublish', {family_id: family.id}) }}" class="btn btn-success {% if not family.active %}disabled{% endif %}">Start your new project</a>
                        {% if user.id == family.user_id %}
                            <a href="{{ path('enableFamily', {id: family.id, enable: 1 - family.active }) }}" class="btn btn-default">{% if family.active %}Click to stop{% else %}Click to active{% endif %}</a>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {% if user.id == family.user_id %}

                            {% set body %}
                                {{ include('AppBundle:Family:familyForm.html.twig', {form: forms[family.id], id: family.id}) }}
                            {% endset %}

                            {{
                                macros.modal(
                                    'edit-family-' ~ family.id,
                                    'Edit Space ' ~ family.name,
                                    body
                                )
                            }}

                            <button class="btn btn-default" data-toggle="modal" data-target="#edit-family-{{ family.id }}">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button>

                            <a
                                href="{{ path('familyDelete', {id: family.id}) }}"
                                class="btn btn-danger"
                                onclick="return confirm('Do you really want to DELETE the {{ family.name|e('html_attr') }} family?');">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </a>

                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if inactive_families|length %}

    <h1>Inactive Spaces</h1>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tbody>
                <thead>
                    <tr>
                        <td>Space</td>
                        <td>Projects in the Space</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                </thead>
                <tbody>
                {% for family in inactive_families %}
                    <tr>
                         <td><a href="{{ path('familySearch', {familyName: family.name}) }}">{{ family.name }}</a></td>
                         <td><a href="{{ path('familySearch', {familyName: family.name}) }}">{{ family.description|length > 80 ? family.description|slice(0, 80) ~ '...' : family.description  }}</a></td>
                         <td><a href="{{ path('familySearch', {familyName: family.name}) }}">{{ family.nbProjects }}&nbsp;Projects</a></td>
                         <td>
                            {% if user.id == family.user_id %}
                                <a href="{{ path('enableFamily', {id: family.id, enable: 1 - family.active }) }}" class="btn btn-default">{% if family.active %}Click to stop{% else %}Click to activate{% endif %}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.id == family.user_id %}

                                {% set body %}
                                    {{ include('AppBundle:Family:familyForm.html.twig', {form: forms[family.id]}) }}
                                {% endset %}

                                {{
                                    macros.modal(
                                        'edit-family-' ~ family.id,
                                        'Edit Space ' ~ family.name,
                                        body
                                    )
                                }}

                                <button class="btn btn-default" data-toggle="modal" data-target="#edit-family-{{ family.id }}">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </button>

                                <a
                                    href="{{ path('familyDelete', {id: family.id}) }}"
                                    class="btn btn-danger"
                                    onclick="return confirm('Do you really want to DELETE the {{ family.name|e('html_attr') }} family?');">
                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                </a>

                                {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

{% set body %}
    {{ include('AppBundle:Family:familyForm.html.twig', {form: form}) }}
{% endset %}

{{
    macros.modal(
        'new-family',
        'Create a new Space',
        body
    )
}}

<button class="btn btn-default" data-toggle="modal" data-target="#new-family">
    <span class="glyphicon glyphicon-plus"></span> Create a new Space
</button>

