
{% import 'AppBundle::macros.html.twig' as macros %}

<h1>Spaces</h1>

<div class="jumbotron">

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="active_family">
    <table class="table table-hover">
        <tbody>
        {% for family in families %}
            <tr>
                <td>
                    <a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}">{{ family.name }}</a>
                </td>
                <td class="hidden-xs">
                    <a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}">{{ family.description|striptags|length > 50 ? family.description|purify|striptags|slice(0, 50) ~ '...' : family.description|purify|striptags }}</a>
                </td>
                <td class="hidden-xs">
                    <a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}">{{ family.countProjects }} projects</a>
                </td>
                <td class="hidden-xs text-left">
                    {% if user.id == family.user.id %}
                        <button class="btn btn-default" data-toggle="modal" data-target="#edit-family-{{ family.id }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    {% endif %}
                </td>
                <td class="text-left">
                    <a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}" class="btn btn-primary">Projects list</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


{% if inactive_families|length %}
    <div role="tabpanel" class="tab-pane" id="inactive_family" class="hidden-xs">
    <table class="table table-hover">
        <tbody>
        {% for family in inactive_families %}
            <tr>
                <td><a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}">{{ family.name }}</a></td>
                <td class="hidden-xs">
                    <a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}">{{ family.description|striptags|length > 50 ? family.description|purify|striptags|slice(0, 50) ~ '...' : family.description|purify|striptags }}</a>
                </td>
                <td><a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}">{{ family.countProjects }} projects</a></td>
                <td class="text-left">
                    <a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}" class="btn btn-primary">Projects list</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endif %}
  </div>

 <ul class="family_list_navtabs pull-right" role="tablist">
    <li role="presentation" class="active"><a href="#active_family" aria-controls="active_family" role="tab" data-toggle="tab">Show Active Spaces</a></li>
    <li role="presentation"><a href="#inactive_family" aria-controls="inactive_family" role="tab" data-toggle="tab">Show inactive Spaces</a></li>
 </ul>


<button class="btn btn-success" data-toggle="modal" data-target="#new-family">
    <span class="glyphicon glyphicon-plus"></span> Create a new Space
</button>

</div>


{% set body %}
    {{ include('AppBundle:Family:familyForm.html.twig', {form: form}) }}
{% endset %}

{{
    macros.modal(
        'new-family',
        'Create a new Space',
        body
    )
}}



{% for family in families %}
    {% if user.id == family.user.id %}

        {% set body %}
            {{ include('AppBundle:Family:familyForm.html.twig', {form: forms[family.id], id: family.id}) }}
        {% endset %}

        {{
            macros.modal(
                'edit-family-' ~ family.id,
                'Edit Space ' ~ family.name,
                body
            )
        }}
    {% endif %}

    {% set body %}
        {{ render(controller('AppBundle:Project:publish', {family_id: family.id})) }}
    {% endset %}

    {{
        macros.modal(
            'new-project-' ~ family.id,
            'Your "' ~ family.name ~ '" project',
            body
        )
    }}

{% endfor %}
