
<div class="page-header">
	<div class="title-family"><h2>Space: {{ family.name }}</h2></div>
	{% if family.isActive and projects | length > 0 %}
	<div class="family-project-btn">
		<a
            data-toggle="modal"
            data-target="#new-project-{{ family.id }}"
            class="btn btn-sm btn-success">Start a new project</a>
    </div>
	{% endif %}
	<div class="clearfix"></div>
	<div class="family-sub-titles">
		<div class="pull-left">Created by: {{ family.user.nickname }}</div>
		{% if family.maxVotes %}
			<div class="pull-left"><span class="label label-info">Max Vote{% if family.maxVotes > 1 %}s{% endif %}: {{ family.maxVotes }}</span></div>
		{% endif %}
		{% if family.slackChannel %}
			<div class="pull-left"><a href="https://blablacar.slack.com/messages/{{ family.slackChannel }}" class="label label-slack" target="_blank">Notification: {{ family.slackChannel }}</a></div>
		{% endif %}

		{% if not family.isActive %}
			<div class="pull-left"><span class="label label-warning">Space Stopped</span></div>
		{% endif %}
	</div>
	<div class="clearfix"></div>
    {% if family.description %}
	<div class="well">{{ family.description|purify }}</div>
	{% endif %}

	{% if user.id == family.user.id and family.maxVotes %}
		{% if family.publishVotes and family.maxVotes %}
		<h4 class="pull-left"><span class="label label-success">Votes are <strong>published</strong>! visibility: <strong>Public</strong></span></h4>
		{% else %}
		<h4 class="pull-left"><span class="label label-default">Votes are <strong>offline</strong>! visibility: <strong>only you</strong></span></h4>
		{% endif %}
    {% endif %}
	<div class="clearfix"></div>
    <p>


	{% if user.id == family.user.id %}
		<a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}" class="btn btn-default"><span class="glyphicon glyphicon-th-large"></span> View projects</a>

		{% if family.maxVotes %}
		<a href="{{ path('familyVotes', {id: family.id}) }}" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> View votes</a>
		{% endif %}

	    <a href="{{ path('enableFamily', {id: family.id, enable: 1 - family.active}) }}" class="btn btn-default">
	     	{% if family.active %}
	     		<span class="glyphicon glyphicon-pause"></span> Disable
	     	{% else %}
	     		<span class="glyphicon glyphicon-play"></span> Activate
	     	{% endif %}
	     </a>
      	{% if not family.isActive and family.maxVotes %}
            <a href="{{ path('familyPublishVotes', {id: family.id, enable: 1 - family.publishVotes}) }}" class="btn btn-default"><span class="glyphicon glyphicon-share"></span> {% if family.publishVotes %}Unpublish{% else %}Publish{% endif %} votes</a>
        {% endif %}
   	{% else %}
    	{% if family.publishVotes and not family.isActive and family.maxVotes %}
		<a href="{{ path('familySearch', {familyId: family.id, familyName: family.name}) }}" class="btn btn-default"><span class="glyphicon glyphicon-th-large"></span> View projects</a>

		<a href="{{ path('familyVotes', {id: family.id}) }}" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> View votes</a>
		{% endif %}
    {% endif %}
    </p>
    <div class="clearfix"></div>

</div>