
<div class="page-header">
	<h1>Space: {{ family.name }}
	{% if family.isActive and projects | length > 0 %}
		<a href="{{ path('projectPublish', {family_id: family.id}) }}" class="btn btn-sm btn-success">Start your new project</a>
	{% endif %}
	</h1>
	{% if family.description %}
	<div class="well">{{ family.description }}</div>
	{% endif %}
	<p>Create by: {{ family.user.nickname }} - Max Votes: {{ family.maxVotes }}</p>
	{% if not family.isActive %}
		<span class="label label-warning">Space Stopped</span>
	{% endif %}
    {% if user.id == family.user.id %}
    <p>
	     <a href="{{ path('enableFamily', {id: family.id, enable: 1 - family.active }) }}" class="btn btn-default">{% if family.active %}<span class="glyphicon glyphicon-pause"></span> Click to stop{% else %}<span class="glyphicon glyphicon-play"></span> Click to active{% endif %}</a>
         <a href="{{ path('familyVotes', {id: family.id}) }}" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> View votes</a>
         <a href="{{ path('familySearch', {familyName: family.name}) }}" class="btn btn-default"><span class="glyphicon glyphicon-th-large"></span> Projects</a>
    </p>
    {% endif %}
</div>