	<div class="project-container">
		<div class="project-container-text">

            {% form_theme form 'AppBundle::form_theme.html.twig' %}

            {{
                form_start(form, {
                    'action': path('familyPublish', {id: id|default(null)})
                })
            }}

            {{ form_errors(form) }}

            {{ form_label(form.name) }}
            {{ form_widget(form.name, {help_text:"A powerful name for your space!"}) }}
            {{ form_errors(form.name) }}

            {{ form_label(form.description) }}
            {{ form_widget(form.description, {help_text:"Optionnal"}) }}
            {{ form_errors(form.description) }}

            {{ form_label(form.endDate) }}
            {{ form_widget(form.endDate, {help_text:"Deadline of your space event."}) }}
            {{ form_errors(form.endDate) }}

            {{ form_label(form.maxVotes) }}
            {{ form_widget(form.maxVotes, {help_text:"Max number of votes per user for this space. Leave empty for no limit."}) }}
            {{ form_errors(form.maxVotes) }}

            {{ form_rest(form) }}

            {{ form_end(form) }}

		</div>
	</div>
